<template>
    <div id="page">
        <navbar></navbar>
        <router-view></router-view>

        <notifications position="bottom right"/>
    </div>
</template>

<script type="text/javascript">
    import Navbar from './components/Navbar.vue';

    export default {
        components: {
            Navbar
        }
    }
</script>