<template>
    <div>
        <div class="panel-body">
            <div class="col-md-12">
                <canvas id="preview-canvas" class="center-block document-preview"></canvas>
            </div>
        </div>

        <div class="panel-footer clearfix">
            <button class="btn btn-default pull-left" v-on:click="back">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
            </button>

            <button class="btn btn-primary pull-right" v-on:click="next">
                Confirm <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</template>

<script>
    import NProgress    from 'nprogress'
    import PDFJS        from 'pdfjs-dist';

    export default {
        name: "document-confirm",
        props: ['file'],
        data() {
            return {
                step: this.$parent.step,
            }
        },
        mounted() {
            PDFJS.disableWorker = true;
            this.preview();
        },
        methods: {
            back: function () {
                this.$parent.step--;
            },
            next: function () {
                if (this.$parent.step === Object.keys(this.$parent.steps).length - 1) {
                    this.$emit('recognize');
                } else {
                    this.$parent.step++;
                }
            },
            preview: function () {
                const vm = this;
                const reader = new FileReader();

                const canvas = document.getElementById('preview-canvas');
                const context = canvas.getContext('2d');

                canvas.textContent = "Sorry, your browser does not support canvas.";

                NProgress.start();

                if (this.file.type === 'application/pdf') {
                    reader.onload = function(ev) {
                        PDFJS.getDocument(reader.result).then(function getPdfHelloWorld(pdf) {
                            pdf.getPage(1).then(function getPageHelloWorld(page) {
                                let viewport = page.getViewport(1);

                                canvas.height = viewport.height;
                                canvas.width = viewport.width;

                                // Render PDF page into canvas context
                                let task = page.render({canvasContext: context, viewport: viewport});

                                task.promise.then(function(){
                                    vm.preview = canvas.toDataURL('image/png');
                                    NProgress.done();
                                });
                            });
                        }, function(error){
                            vm.$notify({title: 'Error loading pdf file', text: error, type: 'error'});
                        });
                    };

                    reader.readAsArrayBuffer(this.file);
                } else {
                    reader.onload = function(event) {
                        let img = new Image();

                        img.onload = function() {
                            canvas.height = this.height;
                            canvas.width = this.width;

                            context.drawImage(this, 0, 0, this.width, this.height);

                            NProgress.done();
                        };

                        img.src = event.target.result;
                    };

                    reader.readAsDataURL(this.file);
                }
            }
        }
    }
</script>

<style>
    .document-preview {
        min-height:200px;
        max-height:400px;
        max-width:960px;
        border-radius:8px;
        margin-bottom: 10px;
    }
</style>