<template>
    <div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <tr v-for="graphic in response.graphics" v-if="response.graphics.length > 0">
                    <th>{{ graphic.title }}</th>
                    <td colspan="3">
                        <img :src="graphic.base64" class="center-block document-graphic"/>
                    </td>
                </tr>
                <tr v-if="response.comparison">
                    <th class="col-md-2"><b>Comparison face</b></th>
                    <td class="col-md-10" v-bind:class="valid(response.comparison.check)" colspan="3">
                        <b>{{ response.comparison.percent }}%</b>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2"><b>Description</b></th>
                    <td class="col-md-5"><b>MRX</b></td>
                    <td class="col-md-3"><b>Visual</b></td>
                    <td class="col-md-2"><b>Barcode</b></td>
                </tr>
                <tr v-for="field in response.recognition">
                    <th>{{ field.description }}</th>
                    <td v-bind:class="valid(field.valid)">{{ field.field_mrx }}</td>
                    <td>{{ field.field_visual }}</td>
                    <td v-bind:class="valid(field.valid_barcode)">{{ field.field_barcode }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer clearfix">
            <button class="btn btn-primary pull-right" v-on:click="retry">
                Retry <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "document-uploads",
        props: ['response'],
        data() {
            return {
                step: this.$parent.step,
            }
        },
        methods: {
            retry: function () {
                this.$parent.step++;
            },
            valid: function (valid) {
                return {
                    'valid-success': valid === true,
                    'valid-filed': valid === false,
                    'valid-none': valid === null,
                }
            },
        }
    }
</script>

<style>
    .valid-success {
        background:rgba(40, 167, 69, 0.05);
    }

    .valid-filed  {
        background:rgba(220, 53, 69, 0.05);
    }

    .valid-none {
        background:rgba(23, 162, 184, 0.05);
    }

    .document-graphic {
        max-width:600px;
        max-height:300px;
    }
</style>