<template>
    <div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-6 col-xs-offset-3">
                    <select class="form-control" v-model="selectedService">
                        <option v-for="service in services" v-bind:value="service.value">
                            {{ service.text }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel-footer clearfix">
            <button class="btn btn-default pull-left" v-on:click="back">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
            </button>

            <button class="btn btn-primary pull-right" v-on:click="next">
                Recognize <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "document-service",
        data() {
            return {
                step: this.$parent.step,
                selectedService: false,
                services: [
                    { text: 'vocord.com',       value: 'Vocord' },
                    { text: 'findface.pro',     value: 'Findface' },
                ],
            }
        },
        methods: {
            back: function () {
                this.$parent.step--;
            },
            next: function () {
                if (!this.selectedService) {
                    this.$notify({text: error.forms.service.required, type: 'error'});
                    return;
                }

                this.$emit('comparison', this.selectedService);
            },
        }
    }
</script>