<template>
    <div>
        <div class="panel-body">
            <div class="col-md-12" v-show="!webcam">
                <div class="col-md-5">
                    <form class="document-upload" enctype="multipart/form-data" novalidate>
                        <div class="center">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            <p class="padding-0">Upload images</p>
                        </div>
                        <input type="file" @change="fileSelect($event.target.files)" :accept="accept">
                    </form>
                </div>
                <div class="document-or col-md-2">
                    <p class="center">OR</p>
                </div>
                <div class="col-md-5">
                    <div class="document-upload" @click="webcamEnable()">
                        <div class="center">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                            <p class="padding-0">Take a picture with a web camera</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 document-preview" v-show="webcam">
                <div class="center-block" id="webcam"></div>
            </div>
        </div>

        <div class="panel-footer panel-footer-fix clearfix">
            <button class="btn btn-default pull-left" v-on:click="back" v-if="step !== 1 || webcam">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
            </button>

            <button class="btn btn-primary pull-right" v-on:click="webcamSnapshot" v-if="webcam">
                Snapshot <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</template>

<script>
    import Webcam       from 'webcamjs';
    import NProgress    from 'nprogress'

    export default {
        name: "document-uploads",
        props: ['accept'],
        data() {
            return {
                step: this.$parent.step,
                webcam: false,
            }
        },
        mounted() {
            this.webcamDispatch();
        },
        methods: {
            back: function () {
                if (this.webcam || this.image) {
                    this.webcam = false;
                    this.image = false;

                    this.webcamDispatch();
                } else if (this.step !== 1) {
                    this.$parent.step--;
                }
            },
            fileSelect: function (files) {
                if (!files.length) return;
                this.$emit('upload', files[0]);
            },
            webcamEnable: function () {
                const vm = this;

                vm.webcam = true;

                Webcam.set({
                    width:          660,
                    height:         400,
                    jpeg_quality:   100,
                    image_format:   'jpeg'
                });

                Webcam.attach('#webcam');

                Webcam.on('error', function(err) {
                    if (err.name === 'PermissionDeniedError') {
                        vm.webcamError = true;
                        vm.$notify({text: vm.$root.message.error.webcam.permissionDenied, type: 'error'});
                    }
                });
            },
            webcamDispatch: function () {
                this.webcam = false;
                Webcam.reset();
            },
            webcamSnapshot: function () {
                const vm = this;

                Webcam.snap(function(dataURI) {
                    let blob = vm.dataURItoBlob(dataURI);

                    vm.webcamDispatch();
                    vm.$emit('upload', blob);
                });
            },
            dataURItoBlob: function (dataURI) {
                // convert base64 to raw binary data held in a string
                let byteString = atob(dataURI.split(',')[1]);

                // separate out the mime component
                let mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

                // write the bytes of the string to an ArrayBuffer
                const ab = new ArrayBuffer(byteString.length);

                // create a view into the buffer
                const ia = new Uint8Array(ab);

                // set the bytes of the buffer to the correct values
                for (let i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }

                // write the ArrayBuffer to a blob, and you're done
                return new Blob([ab], {type: mimeString});
            },
        }
    }
</script>