<template>
    <div class="container padding-0">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" v-if="step !== 0">
                    Step {{ step }} of {{ Object.keys(steps).length - 1 }} - {{ steps[step] }}
                </div>
                <div class="panel-heading" v-else>
                    {{ steps[step] }}
                </div>

                <div v-if="step === 0">
                    <document-recognize :response="response"></document-recognize>
                </div>
                <div v-if="step === 1">
                    <document-uploads :accept="accept.document" v-on:upload="uploadDocument"></document-uploads>
                </div>
                <div v-if="step === 2">
                    <document-confirm :file="image.document"></document-confirm>
                </div>
                <div v-if="step === 3">
                    <document-uploads :accept="accept.face" v-on:upload="uploadFace"></document-uploads>
                </div>
                <div v-if="step === 4">
                    <document-confirm :file="image.face"></document-confirm>
                </div>
                <div v-if="step === 5">
                    <document-service v-on:comparison="comparison"></document-service>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Uploads from '../components/Recognition/Uploads.vue';
    import Confirm from '../components/Recognition/Confirm.vue';
    import Services from '../components/Recognition/Services.vue';
    import Recognize from '../components/Recognition/Recognize.vue';

    export default {
        data() {
            return {
                step: 1,
                steps: {
                    0: 'Result',
                    1: 'Selecting a document for recognition',
                    2: 'Confirm the selected image',
                    3: 'Selecting a image for compare faces',
                    4: 'Confirm the selected photo',
                    5: 'Selecting a service for comparing faces',
                },
                image: {
                    document:null,
                    face: null,
                },
                accept: {
                    face: "image/jpg,image/jpeg,image/png",
                    document: "image/*,application/pdf"
                },
                response: [],
            }
        },
        components: {
            'document-uploads': Uploads,
            'document-confirm': Confirm,
            'document-service': Services,
            'document-recognize': Recognize
        },
        methods: {
            uploadDocument: function (file) {
                this.createImage(file, 'document');
            },
            uploadFace: function (file) {
                this.createImage(file, 'face');
            },
            createImage: function (file, type) {
                this.image[type] = file;
                this.step++;
            },
            comparison: function (service) {
                const vm = this;
                const formData = new FormData();

                formData.append('document', vm.image.document);
                formData.append('face', vm.image.face);
                formData.append("service", service);

                this.$http.post('/document/comparison', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((response) => {
                    vm.response = response.data;
                    vm.step = 0;
                }).catch(function (error) {
                    vm.$notify({text: error.response.data.message, type: 'error'});
                });
            }
        }
    }
</script>

<style>

</style>