<template>
    <div class="container padding-0">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Select the required service
                </div>

                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <router-link to="/recognition">
                                <div class="document-upload">
                                    <div class="center">
                                        <img class="icon-recognition" src="images/icon-recognition.svg" />
                                        <p>Recognition of documents</p>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                        <div class="document-or col-md-2">
                            <p class="center">OR</p>
                        </div>
                        <div class="col-md-5">
                            <router-link to="/comparison">
                                <div class="document-upload">
                                    <div class="center">
                                        <img class="icon-comparison" src="images/icon-comparison.svg" />

                                        <p>Comparison of faces</p>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        //
    }
</script>

<style>
    .icon-comparison {
        margin: 25px 0;
        max-height: 100px;
    }

    .icon-recognition {
        max-width: 150px;
    }
</style>