<template>
    <div class="container padding-0">
        <div class="row">
            <div class="panel panel-default panel-flush">
                <div class="panel-body">
                    <div class="error-template">
                        <h1>
                            Oops!</h1>
                        <h2>
                            404 Not Found</h2>
                        <div class="error-details">
                            Sorry, an error has occured, Requested page not found!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Not found')
        }
    }
</script>

<style>
    .error-template {
        padding: 40px 15px;
        text-align: center;
    }

    .error-actions {
        margin-top:15px;
        margin-bottom:15px;
    }

    .error-actions .btn {
        margin-right:10px;
    }
</style>