<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid container padding-0">
            <div class="navbar-header">
                <router-link to="/" class="navbar-brand">{{ app_name }}</router-link>
            </div>
            <ul class="nav navbar-nav">
                <li v-for="route in routes" v-if="route.header">
                    <router-link :to="route.path">{{ route.header }}</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script type="text/javascript">
    import router from '../router';

    export default {
        name: 'navbar',
        data() {
            return {
                routes: router.options.routes,
                app_name: window.app_name
            }
        }
    }
</script>